{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/grd.css' %}">
</head>
<body>
    <!-- <div class="alpahbet" >
        <div class="a" >7</div>
        <div class="b" >45</div>
        <div class="c" >6</div>
        <div class="d" >56</div>
        <div class="e">3</div>
        <div class="f">22</div>
    </div> -->
    <div class="anwr">
        <div class="q" ><h1 align=center>heading</h1></div>
        <div class="w"><h2>menu</h2> </div>
        <div class="e"><h2 align="center">left</h2></div>
        <div class="r"><h2 align="center">right</h2></div>
        <div class="t"> <h2 align="center">footer</h2> </div>
      
    </div>

</body>
</html>