{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <!-- <button onclick="alert('helloooo')">start</button>
    <script> -->
        <!-- // document.write('<h1> good boy</h1>')
        // a='10'
        // document.write(a+" ")
        // document.write(typeof(a),'<br>')
        // c=[1,2,3,4,5,]
        // document.write(typeof(c),'<br>')
        // d={'name':'abc'}
        // document.write(typeof(d),'<br>')
        // console.log("welcome")
        // // e=prompt('enter a name')
        // // console.log(e)
        // n=Number(prompt('enter a number'))
        // y=Number(prompt('enter a number'))
        // document.write(n+y)
        // confirm('are u sure') -->
        <!-- n=Number(prompt('enter a number')) -->

    </script>

</body>
</html>