{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/yes.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    
    <!-- <style>
        h1{
            color: blue;
        }
    </style> -->
</head>

<body>
    <h1 style="color:blue ;">welcome to my page </h1>
    <h1 class="la">oh my god</h1>
    <h1 id="lm">u r bootifooll</h1>
    <p class="la">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reiciendis vitae amet, inventore
        sit ipsa
        dolores aut sapiente vel. Cum vel omnis eveniet, repellendus alias veritatis sint obcaecati reprehenderit
        pariatur!</p>
    <h2 class="la"> this is lorem</h2>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio atque expedita laudantium quisquam reprehenderit
        tempore minus iste! Rem sit eius expedita harum minima? Neque reiciendis possimus aperiam fuga atque sit.</h3>
    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero aperiam quisquam vitae mollitia repudiandae culpa
        deserunt officia doloremque deleniti architecto! Ipsa earum corporis vel culpa, enim necessitatibus inventore!
        Quia, culpa?</h4>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, placeat? Fugit ex, quo adipisci aperiam
        dolorem consequuntur excepturi inventore iste dignissimos odio repudiandae pariatur earum illo mollitia
        quibusdam aut delectus?</h6>
    <p>,bkjg nvhj ṇvjhb mṇgbjk,b
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nesciunt delectus optio quia
            magnam</span>huihuib jhghb jhgjhb jh hhkbnm vhmvhmbn
    <form action="">
        <input type="text">
    </form>

    </p>
    <a href="{% url 'new' %}">login</a>
    <a href="{% url 'welcome' %}" class="new">submit</a>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa soluta <span> go hell</span> exercitationem
            ipsam!</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde eius perferendis accusantium rerum, atque
        illo sapiente iste voluptates corporis optio architecto dicta deserunt sunt <span>d:Lksvlkv;l;'vsdl'c;x.</span> eos beatae quos exercitationem
        pariatur.</p>
</body>

</html>