{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/done.css' %}">
</head>

<body>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium repellendus molestiae facilis vitae fugit.
        Harum accusamus odio dolore repudiandae labore nesciunt ab asperiores, autem iste nulla et! Nemo, similique
        voluptate?</h1>
    <div> am not okey</div>
    <h1 id="anwer">this is tooo baadd</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At odit aut facilis voluptate. Dolores dolore
        aspernatur ducimus quod dolor error beatae aliquam cupiditate, culpa, qui sunt illo delectus suscipit impedit
        facere incidunt blanditiis ex nihil tempore quidem repellendus placeat quibusdam distinctio laboriosam? Sequi
        natus voluptate suscipit nesciunt unde assumenda facere nemo voluptas consequuntur illum hic culpa et temporibus
        pariatur delectus sit ullam corrupti, commodi nulla ipsa quas recusandae fugiat aut! Suscipit aspernatur
        voluptatem minus placeat, fuga cum voluptatum molestiae, odio expedita dolorem nesciunt est eos! Iusto qui
        reiciendis dicta quibusdam repellat voluptates explicabo adipisci assumenda cupiditate voluptatum possimus rem
        labore recusandae dolore exercitationem consequuntur illum amet aperiam saepe autem minima, ipsam inventore
        deserunt suscipit? Illo natus consequatur cum porro nesciunt eius animi rerum, a aliquid vero quam sint
        repudiandae dolore, blanditiis culpa vel aliquam, quidem temporibus esse maxime! Cupiditate vero eveniet
        pariatur autem, provident libero. Sint consequuntur laboriosam ducimus, accusamus a voluptas alias odit culpa
        deserunt. Quo cupiditate dignissimos quidem hic, tempore atque animi molestiae eligendi consequatur deleniti
        numquam dolore qui fuga voluptates est odit at facere rerum quaerat eaque itaque distinctio accusamus illo. Unde
        quibusdam dolorum numquam ullam possimus. Quidem maxime labore temporibus dolor deleniti rem necessitatibus
        repellendus ipsa vero ullam, quisquam deserunt ipsam dicta, odio dolorem numquam expedita repellat, recusandae
        ad atque quo similique eveniet! Tempore, architecto quibusdam! Libero repellat totam nesciunt numquam omnis!
        Quam ipsa, dolorum recusandae, sapiente ex in iste mollitia tenetur qui facere doloribus itaque cum quis.
        Dolorem, esse delectus. Quaerat debitis repellat est sapiente nulla quo voluptas ab magni molestias, vitae
        explicabo neque, aperiam quos iusto exercitationem similique nisi corporis accusamus incidunt facere eius ipsa
        harum blanditiis cum. Dicta, totam. Fuga tempore laboriosam, quis iste suscipit iusto. Ea deserunt totam,
        tempora aliquid ducimus corporis. Optio dolorum maxime, temporibus minus fugiat corrupti animi consequatur
        labore, quis qui tempore, consequuntur iste natus ut. Ipsam delectus dolorum ratione nam maiores neque quidem
        deserunt iste unde exercitationem? Corrupti doloribus harum eum eos iure dolore quia cumque eius, suscipit
        magnam quae ab nihil quidem? Tempore quis eveniet incidunt ea commodi perferendis nostrum repellendus a cumque
        possimus dolore adipisci, dolorem alias vero laboriosam. Adipisci quas quae quibusdam sed alias eaque minus
        voluptatibus quod consectetur. Labore tempora ex libero sit ut voluptatibus aspernatur assumenda porro aliquid
        officia quo perspiciatis nulla voluptatem vel, quas omnis ratione quaerat cupiditate non commodi accusantium!
        Expedita perspiciatis impedit cum recusandae consequatur voluptatibus aliquam similique asperiores repellendus
        cumque accusamus officiis totam, possimus magnam dignissimos ea nam. Excepturi fugiat minus soluta architecto
        aut ipsa, natus impedit totam libero nemo eius laboriosam? Culpa accusantium, maiores quo consequuntur facilis
        veritatis fugiat? Quos sequi beatae aliquid porro a aut nesciunt! Labore quaerat corporis nulla at ratione, non
        laborum ipsum exercitationem inventore aperiam quisquam unde aliquid recusandae veniam officia dolores, fuga
        rerum? Quam velit quas numquam perferendis placeat beatae natus, nam repudiandae aut amet illum odio harum
        delectus ipsum itaque ad facere? Rerum facere vitae expedita eos ullam quis dolores officia totam obcaecati
        dicta architecto delectus, odit commodi harum ipsa aspernatur sint laborum doloribus maiores nisi inventore
        molestiae sit consequatur in. Molestias beatae quae recusandae dolorum nesciunt nobis, vero quibusdam soluta
        laborum esse blanditiis, dicta accusantium. Pariatur explicabo magnam, dolorem molestias dolores nulla. Ad error
        optio sequi dolore distinctio cupiditate iure, ex possimus fugiat, nostrum facere sint, libero saepe fuga
        dignissimos sit?</h1>
</body>

</html>